<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key_0</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUIvr9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxBECQovNTY9QEFERUhJTE1QUVRVWFlcXWBhZGVo
		aWxtcHF0dXh5fH2AgYSFiImMjZCRlJWYmZydoKGkpaiprK2wsbS1uLlVJG51
		bGzSCwwNDlYkY2xhc3NaTlMub2JqZWN0c4BDrxAgDxAREhMUFRYXGBkaGxwd
		Hh8gISIjJCUmJygpKissLS6AAoAFgAeACYALgA2AD4ARgBOAFYAXgBmAG4Ad
		gB+AIYAjgCWAJ4ApgCuALYAvgDGAM4A1gDeAOYA7gD2AP4BB0zALMTIzNFtO
		Uy5wb2ludHZhbFpOUy5zcGVjaWFsgAOABBABXxAVezI3NC45OTk2LCAxNDIu
		MDAwMzh90jc4OTxYJGNsYXNzZXNaJGNsYXNzbmFtZaI6O1dOU1ZhbHVlWE5T
		T2JqZWN0V05TVmFsdWXTMAsxPjM0gAaABF8QFXsyODQuOTk5NiwgMTQyLjAw
		MDM4fdMwCzFCMzSACIAEXxAVezI5Ny45OTk2LCAxNDIuMDAwMzh90zALMUYz
		NIAKgARfEBV7MzE1Ljk5OTYsIDE0Mi4wMDAzOH3TMAsxSjM0gAyABF8QFXsz
		MzQuOTk5NiwgMTQyLjAwMDM4fdMwCzFOMzSADoAEXxAVezM1NC45OTk2LCAx
		NDQuMDAwMzh90zALMVIzNIAQgARfEBV7MzczLjk5OTYsIDE0NC4wMDAzOH3T
		MAsxVjM0gBKABF8QFXszODguOTk5NiwgMTQ0LjAwMDM4fdMwCzFaMzSAFIAE
		XxAVezQwMy45OTk2LCAxNDQuMDAwMzh90zALMV4zNIAWgARfEBV7NDEzLjk5
		OTYsIDE0NC4wMDAzOH3TMAsxYjM0gBiABF8QFXs0MjAuOTk5NiwgMTQ0LjAw
		MDM4fdMwCzFmMzSAGoAEXxAVezQyNy45OTk2LCAxNDQuMDAwMzh90zALMWoz
		NIAcgARfEBV7NDM0Ljk5OTYsIDE0NC4wMDAzOH3TMAsxbjM0gB6ABF8QFXs0
		MzkuOTk5NiwgMTQyLjAwMDM4fdMwCzFyMzSAIIAEXxAVezQ0NC45OTk2LCAx
		NDIuMDAwMzh90zALMXYzNIAigARfEBV7NDQ4Ljk5OTYsIDE0Mi4wMDAzOH3T
		MAsxejM0gCSABF8QFXs0NTIuOTk5NiwgMTQyLjAwMDM4fdMwCzF+MzSAJoAE
		XxAVezQ1NS45OTk2LCAxNDIuMDAwMzh90zALMYIzNIAogARfEBV7NDU4Ljk5
		OTYsIDE0MC4wMDAzOH3TMAsxhjM0gCqABF8QFXs0NTkuOTk5NiwgMTQwLjAw
		MDM4fdMwCzGKMzSALIAEXxAVezQ2MS45OTk2LCAxNDAuMDAwMzh90zALMY4z
		NIAugARfEBV7NDYyLjk5OTYsIDE0MC4wMDAzOH3TMAsxkjM0gDCABF8QFXs0
		NjMuOTk5NiwgMTQwLjAwMDM4fdMwCzGWMzSAMoAEXxAVezQ2NC45OTk2LCAx
		NDAuMDAwMzh90zALMZozNIA0gARfEBV7NDY1Ljk5OTYsIDE0MC4wMDAzOH3T
		MAsxnjM0gDaABF8QFXs0NjcuOTk5NiwgMTQwLjAwMDM4fdMwCzGiMzSAOIAE
		XxAVezQ2OC45OTk2LCAxNDAuMDAwMzh90zALMaYzNIA6gARfEBV7NDY5Ljk5
		OTYsIDE0MC4wMDAzOH3TMAsxqjM0gDyABF8QFXs0NzAuOTk5NiwgMTQwLjAw
		MDM4fdMwCzGuMzSAPoAEXxAVezQ3Mi45OTk2LCAxNDAuMDAwMzh90zALMbIz
		NIBAgARfEBV7NDczLjk5OTYsIDE0MC4wMDAzOH3TMAsxtjM0gEKABF8QFXs0
		NzQuOTk5NiwgMTQwLjAwMDM4fdI3OLq9oru8V05TQXJyYXlYTlNPYmplY3RX
		TlNBcnJheRIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUA
		OgA8AIMAiQCOAJUAoACiAMUAxwDJAMsAzQDPANEA0wDVANcA2QDbAN0A3wDh
		AOMA5QDnAOkA6wDtAO8A8QDzAPUA9wD5APsA/QD/AQEBAwEFAQwBGAEjASUB
		JwEpAUEBRgFPAVoBXQFlAW4BdgF9AX8BgQGZAaABogGkAbwBwwHFAccB3wHm
		AegB6gICAgkCCwINAiUCLAIuAjACSAJPAlECUwJrAnICdAJ2Ao4ClQKXApkC
		sQK4AroCvALUAtsC3QLfAvcC/gMAAwIDGgMhAyMDJQM9A0QDRgNIA2ADZwNp
		A2sDgwOKA4wDjgOmA60DrwOxA8kD0APSA9QD7APzA/UD9wQPBBYEGAQaBDIE
		OQQ7BD0EVQRcBF4EYAR4BH8EgQSDBJsEogSkBKYEvgTFBMcEyQThBOgE6gTs
		BQQFCwUNBQ8FJwUuBTAFMgVKBVEFUwVVBW0FdAV2BXgFkAWXBZkFmwWzBbgF
		uwXDBcwF1AXZAAAAAAAAAgEAAAAAAAAAwAAAAAAAAAAAAAAAAAAABes=
		</data>
		<key>startPosX</key>
		<real>273.99960327148438</real>
		<key>startPosY</key>
		<real>142.00038146972656</real>
	</dict>
	<key>Key_1</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAAEAAgADAAQABQAIAa4Br1QkdG9wWCRvYmplY3RzWCR2ZXJz
		aW9uWSRhcmNoaXZlctEABgAHVHJvb3SAAa8QpAAJAAoAXwBlAGYAbQBwAHEA
		dAB1AHgAeQB8AH0AgACBAIQAhQCIAIkAjACNAJAAkQCUAJUAmACZAJwAnQCg
		AKEApAClAKgAqQCsAK0AsACxALQAtQC4ALkAvAC9AMAAwQDEAMUAyADJAMwA
		zQDQANEA1ADVANgA2QDcAN0A4ADhAOQA5QDoAOkA7ADtAPAA8QD0APUA+AD5
		APwA/QEAAQEBBAEFAQgBCQEMAQ0BEAERARQBFQEYARkBHAEdASABIQEkASUB
		KAEpASwBLQEwATEBNAE1ATgBOQE8AT0BQAFBAUQBRQFIAUkBTAFNAVABUQFU
		AVUBWAFZAVwBXQFgAWEBZAFlAWgBaQFsAW0BcAFxAXQBdQF4AXkBfAF9AYAB
		gQGEAYUBiAGJAYwBjQGQAZEBlAGVAZgBmQGcAZ0BoAGhAaQBpQGoAalVJG51
		bGzSAAsADAANAA5WJGNsYXNzWk5TLm9iamVjdHOAo68QUAAPABAAEQASABMA
		FAAVABYAFwAYABkAGgAbABwAHQAeAB8AIAAhACIAIwAkACUAJgAnACgAKQAq
		ACsALAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA5ADoAOwA8AD0APgA/AEAA
		QQBCAEMARABFAEYARwBIAEkASgBLAEwATQBOAE8AUABRAFIAUwBUAFUAVgBX
		AFgAWQBaAFsAXABdAF6AAoAFgAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+A
		IYAjgCWAJ4ApgCuALYAvgDGAM4A1gDeAOYA7gD2AP4BBgEOARYBHgEmAS4BN
		gE+AUYBTgFWAV4BZgFuAXYBfgGGAY4BlgGeAaYBrgG2Ab4BxgHOAdYB3gHmA
		e4B9gH+AgYCDgIWAh4CJgIuAjYCPgJGAk4CVgJeAmYCbgJ2An4Ch0wBgAAsA
		YQBiAGMAZFtOUy5wb2ludHZhbFpOUy5zcGVjaWFsgAOABBABXxAWezQ0MS45
		OTk4MiwgNDgyLjM5OTY5fdIAZwBoAGkAbFgkY2xhc3Nlc1okY2xhc3NuYW1l
		ogBqAGtXTlNWYWx1ZVhOU09iamVjdFdOU1ZhbHVl0wBgAAsAYQBuAGMAZIAG
		gARfEBZ7NDQxLjk5OTgyLCA0NzMuMzk5Njl90wBgAAsAYQByAGMAZIAIgARf
		EBZ7NDQwLjk5OTgyLCA0NjUuMzk5Njl90wBgAAsAYQB2AGMAZIAKgARfEBZ7
		NDM1Ljk5OTgyLCA0NTEuMzk5Njl90wBgAAsAYQB6AGMAZIAMgARfEBZ7NDMz
		Ljk5OTgyLCA0MzguMzk5Njl90wBgAAsAYQB+AGMAZIAOgARfEBZ7NDI3Ljk5
		OTgyLCA0MjYuMzk5Njl90wBgAAsAYQCCAGMAZIAQgARfEBZ7NDIzLjk5OTgy
		LCA0MTYuMzk5Njl90wBgAAsAYQCGAGMAZIASgARfEBZ7NDIwLjk5OTgyLCA0
		MDYuMzk5Njl90wBgAAsAYQCKAGMAZIAUgARfEBZ7NDE2Ljk5OTgyLCAzOTUu
		Mzk5Njl90wBgAAsAYQCOAGMAZIAWgARfEBZ7NDEzLjk5OTgyLCAzODIuMzk5
		Njl90wBgAAsAYQCSAGMAZIAYgARfEBZ7NDEyLjk5OTgyLCAzNzMuMzk5Njl9
		0wBgAAsAYQCWAGMAZIAagARfEBZ7NDEwLjk5OTgyLCAzNjIuMzk5Njl90wBg
		AAsAYQCaAGMAZIAcgARfEBZ7NDA4Ljk5OTgyLCAzNTIuMzk5Njl90wBgAAsA
		YQCeAGMAZIAegARfEBZ7NDA2Ljk5OTgyLCAzNDIuMzk5Njl90wBgAAsAYQCi
		AGMAZIAggARfEBZ7NDA1Ljk5OTgyLCAzMzQuMzk5Njl90wBgAAsAYQCmAGMA
		ZIAigARfEBZ7NDAyLjk5OTgyLCAzMTQuMzk5Njl90wBgAAsAYQCqAGMAZIAk
		gARfEBZ7NDAyLjk5OTgyLCAzMDUuMzk5Njl90wBgAAsAYQCuAGMAZIAmgARf
		EBZ7NDAxLjk5OTgyLCAyOTguMzk5Njl90wBgAAsAYQCyAGMAZIAogARfEBZ7
		NDAxLjk5OTgyLCAyOTEuMzk5Njl90wBgAAsAYQC2AGMAZIAqgARfEBZ7NDAx
		Ljk5OTgyLCAyODEuMzk5Njl90wBgAAsAYQC6AGMAZIAsgARfEBZ7NDAwLjk5
		OTgyLCAyNjYuMzk5Njl90wBgAAsAYQC+AGMAZIAugARfEBZ7NDAwLjk5OTgy
		LCAyNTkuMzk5Njl90wBgAAsAYQDCAGMAZIAwgARfEBZ7NDAwLjk5OTgyLCAy
		NTEuMzk5Njl90wBgAAsAYQDGAGMAZIAygARfEBZ7NDAwLjk5OTgyLCAyNDUu
		Mzk5Njl90wBgAAsAYQDKAGMAZIA0gARfEBZ7NDAwLjk5OTgyLCAyMzguMzk5
		Njl90wBgAAsAYQDOAGMAZIA2gARfEBZ7NDAwLjk5OTgyLCAyMzEuMzk5Njl9
		0wBgAAsAYQDSAGMAZIA4gARfEBZ7NDAwLjk5OTgyLCAyMjYuMzk5Njl90wBg
		AAsAYQDWAGMAZIA6gARfEBZ7NDAwLjk5OTgyLCAyMTAuMzk5Njl90wBgAAsA
		YQDaAGMAZIA8gARfEBZ7NDAwLjk5OTgyLCAyMDQuMzk5Njl90wBgAAsAYQDe
		AGMAZIA+gARfEBZ7NDAxLjk5OTgyLCAxOTkuMzk5Njl90wBgAAsAYQDiAGMA
		ZIBAgARfEBZ7NDAyLjk5OTgyLCAxOTUuMzk5Njl90wBgAAsAYQDmAGMAZIBC
		gARfEBZ7NDAzLjk5OTgyLCAxOTIuMzk5Njl90wBgAAsAYQDqAGMAZIBEgARf
		EBZ7NDAzLjk5OTgyLCAxOTAuMzk5Njl90wBgAAsAYQDuAGMAZIBGgARfEBZ7
		NDAzLjk5OTgyLCAxODkuMzk5Njl90wBgAAsAYQDyAGMAZIBIgARfEBZ7NDAz
		Ljk5OTgyLCAxODUuMzk5Njl90wBgAAsAYQD2AGMAZIBKgARfEBZ7NDAzLjk5
		OTgyLCAxNzguMzk5Njl90wBgAAsAYQD6AGMAZIBMgARfEBZ7NDAzLjk5OTgy
		LCAxNzIuMzk5Njl90wBgAAsAYQD+AGMAZIBOgARfEBZ7NDAzLjk5OTgyLCAx
		NjQuMzk5Njl90wBgAAsAYQECAGMAZIBQgARfEBZ7NDAzLjk5OTgyLCAxNTgu
		Mzk5Njl90wBgAAsAYQEGAGMAZIBSgARfEBZ7NDA0Ljk5OTgyLCAxNTIuMzk5
		Njl90wBgAAsAYQEKAGMAZIBUgARfEBZ7NDA2Ljk5OTgyLCAxNDYuMzk5Njl9
		0wBgAAsAYQEOAGMAZIBWgARfEBZ7NDA3Ljk5OTgyLCAxMzkuMzk5Njl90wBg
		AAsAYQESAGMAZIBYgARfEBZ7NDA5Ljk5OTgyLCAxMzUuMzk5Njl90wBgAAsA
		YQEWAGMAZIBagARfEBZ7NDExLjk5OTgyLCAxMjYuMzk5Njl90wBgAAsAYQEa
		AGMAZIBcgARfEBZ7NDEzLjk5OTgyLCAxMjEuMzk5Njl90wBgAAsAYQEeAGMA
		ZIBegARfEBZ7NDE0Ljk5OTgyLCAxMTguMzk5Njl90wBgAAsAYQEiAGMAZIBg
		gARfEBZ7NDE2Ljk5OTgyLCAxMTIuMzk5Njl90wBgAAsAYQEmAGMAZIBigARf
		EBZ7NDE4Ljk5OTgyLCAxMDkuMzk5Njl90wBgAAsAYQEqAGMAZIBkgARfEBZ7
		NDE5Ljk5OTgyLCAxMDguMzk5Njl90wBgAAsAYQEuAGMAZIBmgARfEBZ7NDIx
		Ljk5OTgyLCAxMDcuMzk5Njl90wBgAAsAYQEyAGMAZIBogARfEBZ7NDIzLjk5
		OTgyLCAxMDUuMzk5Njl90wBgAAsAYQE2AGMAZIBqgARfEBZ7NDI0Ljk5OTgy
		LCAxMDMuMzk5Njl90wBgAAsAYQE6AGMAZIBsgARfEBZ7NDI2Ljk5OTgyLCAx
		MDMuMzk5Njl90wBgAAsAYQE+AGMAZIBugARfEBZ7NDI3Ljk5OTgyLCAxMDIu
		Mzk5Njl90wBgAAsAYQFCAGMAZIBwgARfEBZ7NDI4Ljk5OTgyLCAxMDEuMzk5
		Njl90wBgAAsAYQFGAGMAZIBygARfEBZ7NDMxLjk5OTgyLCAxMDEuMzk5Njl9
		0wBgAAsAYQFKAGMAZIB0gARfEBZ7NDMzLjk5OTgyLCAxMDEuMzk5Njl90wBg
		AAsAYQFOAGMAZIB2gARfEBZ7NDM1Ljk5OTgyLCA5OS4zOTk2ODl90wBgAAsA
		YQFSAGMAZIB4gARfEBZ7NDM4Ljk5OTgyLCA5OS4zOTk2ODl90wBgAAsAYQFW
		AGMAZIB6gARfEBZ7NDQxLjk5OTgyLCA5OS4zOTk2ODl90wBgAAsAYQFaAGMA
		ZIB8gARfEBZ7NDQ0Ljk5OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFeAGMAZIB+
		gARfEBZ7NDQ1Ljk5OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFiAGMAZICAgARf
		EBZ7NDQ4Ljk5OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFmAGMAZICCgARfEBZ7
		NDQ5Ljk5OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFqAGMAZICEgARfEBZ7NDUy
		Ljk5OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFuAGMAZICGgARfEBZ7NDU1Ljk5
		OTgyLCA5OC4zOTk2ODl90wBgAAsAYQFyAGMAZICIgARfEBZ7NDU2Ljk5OTgy
		LCA5OS4zOTk2ODl90wBgAAsAYQF2AGMAZICKgARfEBZ7NDU5Ljk5OTgyLCAx
		MDAuMzk5Njl90wBgAAsAYQF6AGMAZICMgARfEBZ7NDYwLjk5OTgyLCAxMDEu
		Mzk5Njl90wBgAAsAYQF+AGMAZICOgARfEBZ7NDYyLjk5OTgyLCAxMDMuMzk5
		Njl90wBgAAsAYQGCAGMAZICQgARfEBZ7NDYyLjk5OTgyLCAxMDQuMzk5Njl9
		0wBgAAsAYQGGAGMAZICSgARfEBZ7NDYzLjk5OTgyLCAxMDQuMzk5Njl90wBg
		AAsAYQGKAGMAZICUgARfEBZ7NDYzLjk5OTgyLCAxMDYuMzk5Njl90wBgAAsA
		YQGOAGMAZICWgARfEBZ7NDY0Ljk5OTgyLCAxMDYuMzk5Njl90wBgAAsAYQGS
		AGMAZICYgARfEBZ7NDY2Ljk5OTgyLCAxMDYuMzk5Njl90wBgAAsAYQGWAGMA
		ZICagARfEBZ7NDY3Ljk5OTgyLCAxMDguMzk5Njl90wBgAAsAYQGaAGMAZICc
		gARfEBZ7NDY4Ljk5OTgyLCAxMTAuMzk5Njl90wBgAAsAYQGeAGMAZICegARf
		EBZ7NDY4Ljk5OTgyLCAxMTEuMzk5Njl90wBgAAsAYQGiAGMAZICggARfEBZ7
		NDY5Ljk5OTgyLCAxMTEuMzk5Njl90wBgAAsAYQGmAGMAZICigARfEBZ7NDY5
		Ljk5OTgyLCAxMTIuMzk5Njl90gBnAGgBqgGtogGrAaxXTlNBcnJheVhOU09i
		amVjdFdOU0FycmF5EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAAZAB4AJwAw
		ADoAPwBEAEYBkQGXAaABpwGyAbQCVwJZAlsCXQJfAmECYwJlAmcCaQJrAm0C
		bwJxAnMCdQJ3AnkCewJ9An8CgQKDAoUChwKJAosCjQKPApECkwKVApcCmQKb
		Ap0CnwKhAqMCpQKnAqkCqwKtAq8CsQKzArUCtwK5ArsCvQK/AsECwwLFAscC
		yQLLAs0CzwLRAtMC1QLXAtkC2wLdAt8C4QLjAuUC5wLpAusC7QLvAvEC8wL1
		AvcDBAMQAxsDHQMfAyEDOgNDA0wDVwNcA2QDbQN1A4IDhAOGA58DrAOuA7AD
		yQPWA9gD2gPzBAAEAgQEBB0EKgQsBC4ERwRUBFYEWARxBH4EgASCBJsEqASq
		BKwExQTSBNQE1gTvBPwE/gUABRkFJgUoBSoFQwVQBVIFVAVtBXoFfAV+BZcF
		pAWmBagFwQXOBdAF0gXrBfgF+gX8BhUGIgYkBiYGPwZMBk4GUAZpBnYGeAZ6
		BpMGoAaiBqQGvQbKBswGzgbnBvQG9gb4BxEHHgcgByIHOwdIB0oHTAdlB3IH
		dAd2B48HnAeeB6AHuQfGB8gHygfjB/AH8gf0CA0IGggcCB4INwhECEYISAhh
		CG4IcAhyCIsImAiaCJwItQjCCMQIxgjfCOwI7gjwCQkJFgkYCRoJMwlACUIJ
		RAldCWoJbAluCYcJlAmWCZgJsQm+CcAJwgnbCegJ6gnsCgUKEgoUChYKLwo8
		Cj4KQApZCmYKaApqCoMKkAqSCpQKrQq6CrwKvgrXCuQK5groCwELDgsQCxIL
		Kws4CzoLPAtVC2ILZAtmC38LjAuOC5ALqQu2C7gLugvTC+AL4gvkC/0MCgwM
		DA4MJww0DDYMOAxRDF4MYAxiDHsMiAyKDIwMpQyyDLQMtgzPDNwM3gzgDPkN
		Bg0IDQoNIw0wDTINNA1NDVoNXA1eDXcNhA2GDYgNoQ2uDbANsg3LDdgN2g3c
		DfUOAg4EDgYOHw4sDi4OMA5JDlYOWA5aDnMOgA6CDoQOnQ6qDqwOrg7HDtQO
		1g7YDvEO/g8ADwIPGw8oDyoPLA9FD1IPVA9WD28PfA9+D4APmQ+mD6gPqg/D
		D9AP0g/UD+0P+g/8D/4QFxAkECYQKBBBEE4QUBBSEGsQdBB5EIEQihCSEJcA
		AAAAAAACAgAAAAAAAAGwAAAAAAAAAAAAAAAAAAAQqQ==
		</data>
		<key>startPosX</key>
		<real>441.99981689453125</real>
		<key>startPosY</key>
		<real>483.39968872070312</real>
	</dict>
	<key>Key_10</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>15435.9990234375</real>
		<key>startPosY</key>
		<real>21387</real>
	</dict>
	<key>Key_11</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAAEAAgADAAQABQAIAb0BvlQkdG9wWCRvYmplY3RzWCR2ZXJz
		aW9uWSRhcmNoaXZlctEABgAHVHJvb3SAAa8QqgAJAAoAYgBoAGkAcABzAHQA
		dwB4AHsAfAB/AIAAgwCEAIcAiACLAIwAjwCQAJMAlACXAJgAmwCcAJ8AoACj
		AKQApwCoAKsArACvALAAswC0ALcAuAC7ALwAvwDAAMMAxADHAMgAywDMAM8A
		0ADTANQA1wDYANsA3ADfAOAA4wDkAOcA6ADrAOwA7wDwAPMA9AD3APgA+wD8
		AP8BAAEDAQQBBwEIAQsBDAEPARABEwEUARcBGAEbARwBHwEgASMBJAEnASgB
		KwEsAS8BMAEzATQBNwE4ATsBPAE/AUABQwFEAUcBSAFLAUwBTwFQAVMBVAFX
		AVgBWwFcAV8BYAFjAWQBZwFoAWsBbAFvAXABcwF0AXcBeAF7AXwBfwGAAYMB
		hAGHAYgBiwGMAY8BkAGTAZQBlwGYAZsBnAGfAaABowGkAacBqAGrAawBrwGw
		AbMBtAG3AbhVJG51bGzSAAsADAANAA5WJGNsYXNzWk5TLm9iamVjdHOAqa8Q
		UwAPABAAEQASABMAFAAVABYAFwAYABkAGgAbABwAHQAeAB8AIAAhACIAIwAk
		ACUAJgAnACgAKQAqACsALAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA5ADoA
		OwA8AD0APgA/AEAAQQBCAEMARABFAEYARwBIAEkASgBLAEwATQBOAE8AUABR
		AFIAUwBUAFUAVgBXAFgAWQBaAFsAXABdAF4AXwBgAGGAAoAFgAeACYALgA2A
		D4ARgBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4ApgCuALYAvgDGAM4A1gDeAOYA7
		gD2AP4BBgEOARYBHgEmAS4BNgE+AUYBTgFWAV4BZgFuAXYBfgGGAY4BlgGeA
		aYBrgG2Ab4BxgHOAdYB3gHmAe4B9gH+AgYCDgIWAh4CJgIuAjYCPgJGAk4CV
		gJeAmYCbgJ2An4ChgKOApYCn0wBjAAsAZABlAGYAZ1tOUy5wb2ludHZhbFpO
		Uy5zcGVjaWFsgAOABBABXxAWezU2LjI2NjQ5NSwgNTk5Ljk5OTY5fdIAagBr
		AGwAb1gkY2xhc3Nlc1okY2xhc3NuYW1logBtAG5XTlNWYWx1ZVhOU09iamVj
		dFdOU1ZhbHVl0wBjAAsAZABxAGYAZ4AGgARfEBZ7NTYuMjY2NDk1LCA1OTUu
		OTk5Njl90wBjAAsAZAB1AGYAZ4AIgARfEBZ7NTYuMjY2NDk1LCA1ODguOTk5
		Njl90wBjAAsAZAB5AGYAZ4AKgARfEBZ7NTYuMjY2NDk1LCA1NjkuOTk5Njl9
		0wBjAAsAZAB9AGYAZ4AMgARfEBZ7NTYuMjY2NDk1LCA1NTguOTk5Njl90wBj
		AAsAZACBAGYAZ4AOgARfEBZ7NTYuMjY2NDk1LCA1NDQuOTk5Njl90wBjAAsA
		ZACFAGYAZ4AQgARfEBZ7NTYuMjY2NDk1LCA1MzEuOTk5Njl90wBjAAsAZACJ
		AGYAZ4ASgARfEBZ7NTYuMjY2NDk1LCA1MTcuOTk5Njl90wBjAAsAZACNAGYA
		Z4AUgARfEBZ7NTYuMjY2NDk1LCA1MDQuOTk5Njl90wBjAAsAZACRAGYAZ4AW
		gARfEBZ7NTYuMjY2NDk1LCA0OTIuOTk5Njl90wBjAAsAZACVAGYAZ4AYgARf
		EBZ7NTYuMjY2NDk1LCA0ODQuOTk5Njl90wBjAAsAZACZAGYAZ4AagARfEBZ7
		NTcuMjY2NDk1LCA0NzEuOTk5Njl90wBjAAsAZACdAGYAZ4AcgARfEBZ7NTcu
		MjY2NDk1LCA0NjEuOTk5Njl90wBjAAsAZAChAGYAZ4AegARfEBZ7NTguMjY2
		NDk1LCA0NTIuOTk5Njl90wBjAAsAZAClAGYAZ4AggARfEBZ7NTkuMjY2NDk1
		LCA0NDIuOTk5Njl90wBjAAsAZACpAGYAZ4AigARfEBZ7NTkuMjY2NDk1LCA0
		MzUuOTk5Njl90wBjAAsAZACtAGYAZ4AkgARfEBZ7NjEuMjY2NDk1LCA0Mjgu
		OTk5Njl90wBjAAsAZACxAGYAZ4AmgARfEBZ7NjEuMjY2NDk1LCA0MTIuOTk5
		Njl90wBjAAsAZAC1AGYAZ4AogARfEBZ7NjEuMjY2NDk1LCA0MDUuOTk5Njl9
		0wBjAAsAZAC5AGYAZ4AqgARfEBZ7NjEuMjY2NDk1LCAzOTguOTk5Njl90wBj
		AAsAZAC9AGYAZ4AsgARfEBZ7NjEuMjY2NDk1LCAzOTEuOTk5Njl90wBjAAsA
		ZADBAGYAZ4AugARfEBZ7NjEuMjY2NDk1LCAzODYuOTk5Njl90wBjAAsAZADF
		AGYAZ4AwgARfEBZ7NjEuMjY2NDk1LCAzNzkuOTk5Njl90wBjAAsAZADJAGYA
		Z4AygARfEBZ7NjEuMjY2NDk1LCAzNzIuOTk5Njl90wBjAAsAZADNAGYAZ4A0
		gARfEBZ7NjEuMjY2NDk1LCAzNjYuOTk5Njl90wBjAAsAZADRAGYAZ4A2gARf
		EBZ7NjEuMjY2NDk1LCAzNjIuOTk5Njl90wBjAAsAZADVAGYAZ4A4gARfEBZ7
		NjEuMjY2NDk1LCAzNTguOTk5Njl90wBjAAsAZADZAGYAZ4A6gARfEBZ7NjEu
		MjY2NDk1LCAzNTMuOTk5Njl90wBjAAsAZADdAGYAZ4A8gARfEBZ7NjEuMjY2
		NDk1LCAzNTEuOTk5Njl90wBjAAsAZADhAGYAZ4A+gARfEBZ7NjEuMjY2NDk1
		LCAzNDkuOTk5Njl90wBjAAsAZADlAGYAZ4BAgARfEBZ7NjEuMjY2NDk1LCAz
		NDcuOTk5Njl90wBjAAsAZADpAGYAZ4BCgARfEBZ7NTkuMjY2NDk1LCAzNDUu
		OTk5Njl90wBjAAsAZADtAGYAZ4BEgARfEBZ7NTkuMjY2NDk1LCAzNDQuOTk5
		Njl90wBjAAsAZADxAGYAZ4BGgARfEBZ7NTkuMjY2NDk1LCAzNDMuOTk5Njl9
		0wBjAAsAZAD1AGYAZ4BIgARfEBZ7NTkuMjY2NDk1LCAzNDIuOTk5Njl90wBj
		AAsAZAD5AGYAZ4BKgARfEBZ7NTkuMjY2NDk1LCAzMzYuOTk5Njl90wBjAAsA
		ZAD9AGYAZ4BMgARfEBZ7NTguMjY2NDk1LCAzMjguOTk5Njl90wBjAAsAZAEB
		AGYAZ4BOgARfEBZ7NTQuMjY2NDk1LCAzMDUuOTk5Njl90wBjAAsAZAEFAGYA
		Z4BQgARfEBZ7NTQuMjY2NDk1LCAzMDAuOTk5Njl90wBjAAsAZAEJAGYAZ4BS
		gARfEBZ7NTMuMjY2NDk1LCAyOTIuOTk5Njl90wBjAAsAZAENAGYAZ4BUgARf
		EBZ7NTEuMjY2NDk1LCAyODUuOTk5Njl90wBjAAsAZAERAGYAZ4BWgARfEBZ7
		NTAuMjY2NDk1LCAyNzguOTk5Njl90wBjAAsAZAEVAGYAZ4BYgARfEBZ7NTAu
		MjY2NDk1LCAyNzIuOTk5Njl90wBjAAsAZAEZAGYAZ4BagARfEBZ7NDkuMjY2
		NDk1LCAyNjIuOTk5Njl90wBjAAsAZAEdAGYAZ4BcgARfEBZ7NDkuMjY2NDk1
		LCAyNTguOTk5Njl90wBjAAsAZAEhAGYAZ4BegARfEBZ7NDguMjY2NDk1LCAy
		NTQuOTk5Njl90wBjAAsAZAElAGYAZ4BggARfEBZ7NDguMjY2NDk1LCAyNTIu
		OTk5Njl90wBjAAsAZAEpAGYAZ4BigARfEBZ7NDYuMjY2NDk1LCAyNDguOTk5
		Njl90wBjAAsAZAEtAGYAZ4BkgARfEBZ7NDUuMjY2NDk1LCAyNDAuOTk5Njl9
		0wBjAAsAZAExAGYAZ4BmgARfEBZ7NDMuMjY2NDk1LCAyMzYuOTk5Njl90wBj
		AAsAZAE1AGYAZ4BogARfEBZ7NDMuMjY2NDk1LCAyMzEuOTk5Njl90wBjAAsA
		ZAE5AGYAZ4BqgARfEBZ7NDIuMjY2NDk1LCAyMjguOTk5Njl90wBjAAsAZAE9
		AGYAZ4BsgARfEBZ7NDIuMjY2NDk1LCAyMjUuOTk5Njl90wBjAAsAZAFBAGYA
		Z4BugARfEBZ7NDIuMjY2NDk1LCAyMjIuOTk5Njl90wBjAAsAZAFFAGYAZ4Bw
		gARfEBZ7NDIuMjY2NDk1LCAyMjEuOTk5Njl90wBjAAsAZAFJAGYAZ4BygARf
		EBZ7NDIuMjY2NDk1LCAyMTguOTk5Njl90wBjAAsAZAFNAGYAZ4B0gARfEBZ7
		NDIuMjY2NDk1LCAyMTcuOTk5Njl90wBjAAsAZAFRAGYAZ4B2gARfEBZ7NDIu
		MjY2NDk1LCAyMTYuOTk5Njl90wBjAAsAZAFVAGYAZ4B4gARfEBZ7NDEuMjY2
		NDk1LCAyMTYuOTk5Njl90wBjAAsAZAFZAGYAZ4B6gARfEBZ7NDEuMjY2NDk1
		LCAyMTUuOTk5Njl90wBjAAsAZAFdAGYAZ4B8gARfEBZ7NDEuMjY2NDk1LCAy
		MTIuOTk5Njl90wBjAAsAZAFhAGYAZ4B+gARfEBZ7NDEuMjY2NDk1LCAyMTEu
		OTk5Njl90wBjAAsAZAFlAGYAZ4CAgARfEBZ7NDEuMjY2NDk1LCAyMDkuOTk5
		Njl90wBjAAsAZAFpAGYAZ4CCgARfEBZ7NDEuMjY2NDk1LCAyMDguOTk5Njl9
		0wBjAAsAZAFtAGYAZ4CEgARfEBZ7NDEuMjY2NDk1LCAyMDYuOTk5Njl90wBj
		AAsAZAFxAGYAZ4CGgARfEBZ7NDEuMjY2NDk1LCAyMDUuOTk5Njl90wBjAAsA
		ZAF1AGYAZ4CIgARfEBZ7NDAuMjY2NDk1LCAxOTkuOTk5Njl90wBjAAsAZAF5
		AGYAZ4CKgARfEBZ7MzUuMjY2NDk1LCAxOTIuOTk5Njl90wBjAAsAZAF9AGYA
		Z4CMgARfEBZ7MzEuMjY2NDk1LCAxODcuOTk5Njl90wBjAAsAZAGBAGYAZ4CO
		gARfEBZ7MjcuMjY2NDk1LCAxNzguOTk5Njl90wBjAAsAZAGFAGYAZ4CQgARf
		EBZ7MjEuMjY2NDk1LCAxNzEuOTk5Njl90wBjAAsAZAGJAGYAZ4CSgARfEBZ7
		MTYuMjY2NDk1LCAxNjQuOTk5Njl90wBjAAsAZAGNAGYAZ4CUgARfEBZ7MTEu
		MjY2NDk1LCAxNTkuOTk5Njl90wBjAAsAZAGRAGYAZ4CWgARfEBZ7Ny4yNjY0
		OTQ4LCAxNTUuOTk5Njl90wBjAAsAZAGVAGYAZ4CYgARfEBZ7NC4yNjY0OTQ4
		LCAxNTAuOTk5Njl90wBjAAsAZAGZAGYAZ4CagARfEBd7LTIuNzMzNTA1Miwg
		MTQzLjk5OTY5fdMAYwALAGQBnQBmAGeAnIAEXxAXey0zLjczMzUwNTIsIDEz
		OS45OTk2OX3TAGMACwBkAaEAZgBngJ6ABF8QF3stNC43MzM1MDUyLCAxMzcu
		OTk5Njl90wBjAAsAZAGlAGYAZ4CggARfEBd7LTYuNzMzNTA1MiwgMTM0Ljk5
		OTY5fdMAYwALAGQBqQBmAGeAooAEXxAXey04LjczMzUwNTIsIDEzMi45OTk2
		OX3TAGMACwBkAa0AZgBngKSABF8QF3stOS43MzM1MDUyLCAxMzAuOTk5Njl9
		0wBjAAsAZAGxAGYAZ4CmgARfEBd7LTEwLjczMzUwNSwgMTI4Ljk5OTY5fdMA
		YwALAGQBtQBmAGeAqIAEXxAXey0xMC43MzM1MDUsIDEyNy45OTk2OX3SAGoA
		awG5AbyiAboBu1dOU0FycmF5WE5TT2JqZWN0V05TQXJyYXkSAAGGoF8QD05T
		S2V5ZWRBcmNoaXZlcgAIABkAHgAnADAAOgA/AEQARgGdAaMBrAGzAb4BwAJp
		AmsCbQJvAnECcwJ1AncCeQJ7An0CfwKBAoMChQKHAokCiwKNAo8CkQKTApUC
		lwKZApsCnQKfAqECowKlAqcCqQKrAq0CrwKxArMCtQK3ArkCuwK9Ar8CwQLD
		AsUCxwLJAssCzQLPAtEC0wLVAtcC2QLbAt0C3wLhAuMC5QLnAukC6wLtAu8C
		8QLzAvUC9wL5AvsC/QL/AwEDAwMFAwcDCQMLAw0DDwMcAygDMwM1AzcDOQNS
		A1sDZANvA3QDfAOFA40DmgOcA54DtwPEA8YDyAPhA+4D8APyBAsEGAQaBBwE
		NQRCBEQERgRfBGwEbgRwBIkElgSYBJoEswTABMIExATdBOoE7ATuBQcFFAUW
		BRgFMQU+BUAFQgVbBWgFagVsBYUFkgWUBZYFrwW8Bb4FwAXZBeYF6AXqBgMG
		EAYSBhQGLQY6BjwGPgZXBmQGZgZoBoEGjgaQBpIGqwa4BroGvAbVBuIG5Abm
		Bv8HDAcOBxAHKQc2BzgHOgdTB2AHYgdkB30HigeMB44Hpwe0B7YHuAfRB94H
		4AfiB/sICAgKCAwIJQgyCDQINghPCFwIXghgCHkIhgiICIoIowiwCLIItAjN
		CNoI3AjeCPcJBAkGCQgJIQkuCTAJMglLCVgJWglcCXUJggmECYYJnwmsCa4J
		sAnJCdYJ2AnaCfMKAAoCCgQKHQoqCiwKLgpHClQKVgpYCnEKfgqACoIKmwqo
		CqoKrArFCtIK1ArWCu8K/Ar+CwALGQsmCygLKgtDC1ALUgtUC20Legt8C34L
		lwukC6YLqAvBC84L0AvSC+sL+Av6C/wMFQwiDCQMJgw/DEwMTgxQDGkMdgx4
		DHoMkwygDKIMpAy9DMoMzAzODOcM9Az2DPgNEQ0eDSANIg07DUgNSg1MDWUN
		cg10DXYNjw2cDZ4NoA25DcYNyA3KDeMN8A3yDfQODQ4aDhwOHg43DkQORg5I
		DmEObg5wDnIOiw6YDpoOnA61DsIOxA7GDt8O7A7uDvAPCQ8WDxgPGg8zD0AP
		Qg9ED10Pag9sD24Phw+UD5YPmA+xD74PwA/CD9wP6Q/rD+0QBxAUEBYQGBAy
		ED8QQRBDEF0QahBsEG4QiBCVEJcQmRCzEMAQwhDEEN4Q6xDtEO8RCRESERcR
		HxEoETARNQAAAAAAAAICAAAAAAAAAb8AAAAAAAAAAAAAAAAAABFH
		</data>
		<key>startPosX</key>
		<real>56.266494750976562</real>
		<key>startPosY</key>
		<real>600.99969482421875</real>
	</dict>
	<key>Key_12</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUI5udUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxBUCQo3PT5FSElMTVBRVFVYWVxdYGFkZWhpbG1w
		cXR1eHl8fYCBhIWIiYyNkJGUlZiZnJ2goaSlqKmsrbCxtLW4uby9wMHExcjJ
		zM3Q0dTV2Nnc3eDhVSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAU68Q
		KA8QERITFBUWFxgZGhscHR4fICEiIyQlJicoKSorLC0uLzAxMjM0NTaAAoAF
		gAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4ApgCuALYAvgDGA
		M4A1gDeAOYA7gD2AP4BBgEOARYBHgEmAS4BNgE+AUdM4Czk6OzxbTlMucG9p
		bnR2YWxaTlMuc3BlY2lhbIADgAQQAV8QFns0MTYuOTk5ODIsIDM0OS45OTk1
		NH3SP0BBRFgkY2xhc3Nlc1okY2xhc3NuYW1lokJDV05TVmFsdWVYTlNPYmpl
		Y3RXTlNWYWx1ZdM4CzlGOzyABoAEXxAWezQxNS45OTk4MiwgMzQzLjk5OTU0
		fdM4CzlKOzyACIAEXxAWezQxMy45OTk4MiwgMzM2Ljk5OTU0fdM4CzlOOzyA
		CoAEXxAWezQxMC45OTk4MiwgMzI5Ljk5OTU0fdM4CzlSOzyADIAEXxAWezQw
		OS45OTk4MiwgMzIwLjk5OTU0fdM4CzlWOzyADoAEXxAWezQwOC45OTk4Miwg
		MzEzLjk5OTU0fdM4CzlaOzyAEIAEXxAWezQwNi45OTk4MiwgMzA0Ljk5OTU0
		fdM4CzleOzyAEoAEXxAWezQwNS45OTk4MiwgMjg3Ljk5OTU0fdM4CzliOzyA
		FIAEXxAWezQwNS45OTk4MiwgMjc4Ljk5OTU0fdM4CzlmOzyAFoAEXxAWezQw
		NS45OTk4MiwgMjY5Ljk5OTU0fdM4CzlqOzyAGIAEXxAWezQwNS45OTk4Miwg
		MjYyLjk5OTU0fdM4CzluOzyAGoAEXxAWezQwNS45OTk4MiwgMjU1Ljk5OTU0
		fdM4CzlyOzyAHIAEXxAWezQwNS45OTk4MiwgMjQ4Ljk5OTU0fdM4Czl2OzyA
		HoAEXxAWezQwNS45OTk4MiwgMjQyLjk5OTU0fdM4Czl6OzyAIIAEXxAWezQw
		Ny45OTk4MiwgMjM3Ljk5OTU0fdM4Czl+OzyAIoAEXxAWezQwNy45OTk4Miwg
		MjMxLjk5OTU0fdM4CzmCOzyAJIAEXxAWezQwOS45OTk4MiwgMjI3Ljk5OTU0
		fdM4CzmGOzyAJoAEXxAWezQxMC45OTk4MiwgMjIwLjk5OTU0fdM4CzmKOzyA
		KIAEXxAWezQxMS45OTk4MiwgMjE2Ljk5OTU0fdM4CzmOOzyAKoAEXxAWezQx
		My45OTk4MiwgMjEwLjk5OTU0fdM4CzmSOzyALIAEXxAWezQxNC45OTk4Miwg
		MjA1Ljk5OTU0fdM4CzmWOzyALoAEXxAWezQxNi45OTk4MiwgMjAxLjk5OTU0
		fdM4CzmaOzyAMIAEXxAWezQxOC45OTk4MiwgMTk1Ljk5OTU0fdM4CzmeOzyA
		MoAEXxAWezQyMS45OTk4MiwgMTkxLjk5OTU0fdM4CzmiOzyANIAEXxAWezQy
		Mi45OTk4MiwgMTg1Ljk5OTU0fdM4CzmmOzyANoAEXxAWezQyNS45OTk4Miwg
		MTgzLjk5OTU0fdM4CzmqOzyAOIAEXxAWezQyOC45OTk4MiwgMTc4Ljk5OTU0
		fdM4CzmuOzyAOoAEXxAWezQzMS45OTk4MiwgMTc2Ljk5OTU0fdM4CzmyOzyA
		PIAEXxAWezQzNC45OTk4MiwgMTcxLjk5OTU0fdM4Czm2OzyAPoAEXxAWezQz
		Ni45OTk4MiwgMTY5Ljk5OTU0fdM4Czm6OzyAQIAEXxAWezQzOS45OTk4Miwg
		MTY2Ljk5OTU0fdM4Czm+OzyAQoAEXxAWezQ0MS45OTk4MiwgMTYzLjk5OTU0
		fdM4CznCOzyARIAEXxAWezQ0My45OTk4MiwgMTYwLjk5OTU0fdM4CznGOzyA
		RoAEXxAWezQ0NS45OTk4MiwgMTU5Ljk5OTU0fdM4CznKOzyASIAEXxAWezQ0
		Ny45OTk4MiwgMTU4Ljk5OTU0fdM4CznOOzyASoAEXxAWezQ0OC45OTk4Miwg
		MTU1Ljk5OTU0fdM4CznSOzyATIAEXxAWezQ1MS45OTk4MiwgMTUzLjk5OTU0
		fdM4CznWOzyAToAEXxAWezQ1NC45OTk4MiwgMTUxLjk5OTU0fdM4CznaOzyA
		UIAEXxAWezQ1NC45OTk4MiwgMTQ5Ljk5OTU0fdM4CzneOzyAUoAEXxAWezQ1
		NS45OTk4MiwgMTQ5Ljk5OTU0fdI/QOLlouPkV05TQXJyYXlYTlNPYmplY3RX
		TlNBcnJheRIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUA
		OgA8AJMAmQCeAKUAsACyAN0A3wDhAOMA5QDnAOkA6wDtAO8A8QDzAPUA9wD5
		APsA/QD/AQEBAwEFAQcBCQELAQ0BDwERARMBFQEXARkBGwEdAR8BIQEjASUB
		JwEpASsBLQE0AUABSwFNAU8BUQFqAW8BeAGDAYYBjgGXAZ8BpgGoAaoBwwHK
		AcwBzgHnAe4B8AHyAgsCEgIUAhYCLwI2AjgCOgJTAloCXAJeAncCfgKAAoIC
		mwKiAqQCpgK/AsYCyALKAuMC6gLsAu4DBwMOAxADEgMrAzIDNAM2A08DVgNY
		A1oDcwN6A3wDfgOXA54DoAOiA7sDwgPEA8YD3wPmA+gD6gQDBAoEDAQOBCcE
		LgQwBDIESwRSBFQEVgRvBHYEeAR6BJMEmgScBJ4EtwS+BMAEwgTbBOIE5ATm
		BP8FBgUIBQoFIwUqBSwFLgVHBU4FUAVSBWsFcgV0BXYFjwWWBZgFmgWzBboF
		vAW+BdcF3gXgBeIF+wYCBgQGBgYfBiYGKAYqBkMGSgZMBk4GZwZuBnAGcgaL
		BpIGlAaWBq8Gtga4BroG0wbaBtwG3gb3Bv4HAAcCBxsHIAcjBysHNAc8B0EA
		AAAAAAACAQAAAAAAAADoAAAAAAAAAAAAAAAAAAAHUw==
		</data>
		<key>startPosX</key>
		<real>416.99981689453125</real>
		<key>startPosY</key>
		<real>351.99954223632812</real>
	</dict>
	<key>Key_13</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>305.00033569335938</real>
		<key>startPosY</key>
		<real>497.400146484375</real>
	</dict>
	<key>Key_14</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>239.00033569335938</real>
		<key>startPosY</key>
		<real>457.40032958984375</real>
	</dict>
	<key>Key_15</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUI9fZUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxBaCQo6QEFIS0xPUFNUV1hbXF9gY2RnaGtsb3Bz
		dHd4e3x/gIOEh4iLjI+Qk5SXmJucn6CjpKeoq6yvsLO0t7i7vL/Aw8THyMvM
		z9DT1NfY29zf4OPk5+jr7O/wVSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVj
		dHOAWa8QKw8QERITFBUWFxgZGhscHR4fICEiIyQlJicoKSorLC0uLzAxMjM0
		NTY3ODmAAoAFgAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4Ap
		gCuALYAvgDGAM4A1gDeAOYA7gD2AP4BBgEOARYBHgEmAS4BNgE+AUYBTgFWA
		V9M7Czw9Pj9bTlMucG9pbnR2YWxaTlMuc3BlY2lhbIADgAQQAV8QFnszMDEu
		NzMzMDYsIDY5OS4zOTk1NH3SQkNER1gkY2xhc3Nlc1okY2xhc3NuYW1lokVG
		V05TVmFsdWVYTlNPYmplY3RXTlNWYWx1ZdM7CzxJPj+ABoAEXxAWezMwMS43
		MzMwNiwgNzA0LjM5OTU0fdM7CzxNPj+ACIAEXxAWezMwNC43MzMwNiwgNzEx
		LjM5OTU0fdM7CzxRPj+ACoAEXxAWezMwOC43MzMwNiwgNzE5LjM5OTU0fdM7
		CzxVPj+ADIAEXxAWezMxMS43MzMwNiwgNzI0LjM5OTU0fdM7CzxZPj+ADoAE
		XxAWezMxNy43MzMwNiwgNzMzLjM5OTU0fdM7CzxdPj+AEIAEXxAWezMyMi43
		MzMwNiwgNzQwLjM5OTU0fdM7CzxhPj+AEoAEXxAWezMyNi43MzMwNiwgNzQ0
		LjM5OTU0fdM7CzxlPj+AFIAEXxAWezMzMC43MzMwNiwgNzQ4LjM5OTU0fdM7
		CzxpPj+AFoAEXxAWezMzNC43MzMwNiwgNzU0LjM5OTU0fdM7CzxtPj+AGIAE
		XxAWezMzOC43MzMwNiwgNzU2LjM5OTU0fdM7CzxxPj+AGoAEXxAWezM0MS43
		MzMwNiwgNzU5LjM5OTU0fdM7Czx1Pj+AHIAEXxAWezM0NS43MzMwNiwgNzYx
		LjM5OTU0fdM7Czx5Pj+AHoAEXxAWezM0Ny43MzMwNiwgNzY0LjM5OTU0fdM7
		Czx9Pj+AIIAEXxAWezM1Mi43MzMwNiwgNzY0LjM5OTU0fdM7CzyBPj+AIoAE
		XxAWezM1Ni43MzMwNiwgNzY3LjM5OTU0fdM7CzyFPj+AJIAEXxAWezM2MC43
		MzMwNiwgNzY3LjM5OTU0fdM7CzyJPj+AJoAEXxAWezM2NC43MzMwNiwgNzY4
		LjM5OTU0fdM7CzyNPj+AKIAEXxAWezM2Ny43MzMwNiwgNzY4LjM5OTU0fdM7
		CzyRPj+AKoAEXxAWezM3MC43MzMwNiwgNzY4LjM5OTU0fdM7CzyVPj+ALIAE
		XxAWezM3NC43MzMwNiwgNzY4LjM5OTU0fdM7CzyZPj+ALoAEXxAWezM3NS43
		MzMwNiwgNzY4LjM5OTU0fdM7CzydPj+AMIAEXxAWezM3Ny43MzMwNiwgNzY4
		LjM5OTU0fdM7CzyhPj+AMoAEXxAWezM4MC43MzMwNiwgNzY4LjM5OTU0fdM7
		CzylPj+ANIAEXxAWezM4NC43MzMwNiwgNzY3LjM5OTU0fdM7CzypPj+ANoAE
		XxAWezM5MC43MzMwNiwgNzYzLjM5OTU0fdM7CzytPj+AOIAEXxAWezM5NS43
		MzMwNiwgNzYxLjM5OTU0fdM7CzyxPj+AOoAEXxAWezM5OS43MzMwNiwgNzU4
		LjM5OTU0fdM7Czy1Pj+APIAEXxAWezQwNi43MzMwNiwgNzUxLjM5OTU0fdM7
		Czy5Pj+APoAEXxAWezQxMC43MzMwNiwgNzQ3LjM5OTU0fdM7Czy9Pj+AQIAE
		XxAWezQxOC43MzMwNiwgNzM5LjM5OTU0fdM7CzzBPj+AQoAEXxAWezQyMi43
		MzMwNiwgNzM1LjM5OTU0fdM7CzzFPj+ARIAEXxAWezQyNi43MzMwNiwgNzMw
		LjM5OTU0fdM7CzzJPj+ARoAEXxAWezQzMC43MzMwNiwgNzI2LjM5OTU0fdM7
		CzzNPj+ASIAEXxAWezQzNC43MzMwNiwgNzIyLjM5OTU0fdM7CzzRPj+ASoAE
		XxAWezQzNy43MzMwNiwgNzE4LjM5OTU0fdM7CzzVPj+ATIAEXxAWezQ0MC43
		MzMwNiwgNzE1LjM5OTU0fdM7CzzZPj+AToAEXxAWezQ0Ni43MzMwNiwgNzEw
		LjM5OTU0fdM7CzzdPj+AUIAEXxAWezQ0Ny43MzMwNiwgNzA3LjM5OTU0fdM7
		CzzhPj+AUoAEXxAWezQ1MC43MzMwNiwgNzA0LjM5OTU0fdM7CzzlPj+AVIAE
		XxAWezQ1My43MzMwNiwgNzAwLjM5OTU0fdM7CzzpPj+AVoAEXxAWezQ1NC43
		MzMwNiwgNzAwLjM5OTU0fdM7CzztPj+AWIAEXxAWezQ1NS43MzMwNiwgNjk3
		LjM5OTU0fdJCQ/H0ovLzV05TQXJyYXlYTlNPYmplY3RXTlNBcnJheRIAAYag
		XxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AJkAnwCkAKsA
		tgC4AOYA6ADqAOwA7gDwAPIA9AD2APgA+gD8AP4BAAECAQQBBgEIAQoBDAEO
		ARABEgEUARYBGAEaARwBHgEgASIBJAEmASgBKgEsAS4BMAEyATQBNgE4AToB
		PAFDAU8BWgFcAV4BYAF5AX4BhwGSAZUBnQGmAa4BtQG3AbkB0gHZAdsB3QH2
		Af0B/wIBAhoCIQIjAiUCPgJFAkcCSQJiAmkCawJtAoYCjQKPApECqgKxArMC
		tQLOAtUC1wLZAvIC+QL7Av0DFgMdAx8DIQM6A0EDQwNFA14DZQNnA2kDggOJ
		A4sDjQOmA60DrwOxA8oD0QPTA9UD7gP1A/cD+QQSBBkEGwQdBDYEPQQ/BEEE
		WgRhBGMEZQR+BIUEhwSJBKIEqQSrBK0ExgTNBM8E0QTqBPEE8wT1BQ4FFQUX
		BRkFMgU5BTsFPQVWBV0FXwVhBXoFgQWDBYUFngWlBacFqQXCBckFywXNBeYF
		7QXvBfEGCgYRBhMGFQYuBjUGNwY5BlIGWQZbBl0GdgZ9Bn8GgQaaBqEGowal
		Br4GxQbHBskG4gbpBusG7QcGBw0HDwcRByoHMQczBzUHTgdVB1cHWQdyB3kH
		ewd9B5YHmweeB6YHrwe3B7wAAAAAAAACAQAAAAAAAAD3AAAAAAAAAAAAAAAA
		AAAHzg==
		</data>
		<key>startPosX</key>
		<real>301.73306274414062</real>
		<key>startPosY</key>
		<real>698.3995361328125</real>
	</dict>
	<key>Key_16</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>194.86656188964844</real>
		<key>startPosY</key>
		<real>457.40032958984375</real>
	</dict>
	<key>Key_17</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>174.00018310546875</real>
		<key>startPosY</key>
		<real>500.400146484375</real>
	</dict>
	<key>Key_18</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUI0tNUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxBMCQozOTpBREVISUxNUFFUVVhZXF1gYWRlaGls
		bXBxdHV4eXx9gIGEhYiJjI2QkZSVmJmcnaChpKWoqaytsLG0tbi5vL3AwcTF
		yMnMzVUkbnVsbNILDA0OViRjbGFzc1pOUy5vYmplY3RzgEuvECQPEBESExQV
		FhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMTKAAoAFgAeACYALgA2AD4AR
		gBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4ApgCuALYAvgDGAM4A1gDeAOYA7gD2A
		P4BBgEOARYBHgEnTNAs1Njc4W05TLnBvaW50dmFsWk5TLnNwZWNpYWyAA4AE
		EAFfEBZ7MTQzLjI2NjM2LCAxNDguNDAwMTN90js8PUBYJGNsYXNzZXNaJGNs
		YXNzbmFtZaI+P1dOU1ZhbHVlWE5TT2JqZWN0V05TVmFsdWXTNAs1Qjc4gAaA
		BF8QFnsxMzYuMjY2MzYsIDE0OC40MDAxM33TNAs1Rjc4gAiABF8QFnsxMjgu
		MjY2MzYsIDE0Ny40MDAxM33TNAs1Sjc4gAqABF8QFnsxMTcuMjY2MzYsIDE0
		NS40MDAxM33TNAs1Tjc4gAyABF8QFnsxMDQuMjY2MzYsIDE0NS40MDAxM33T
		NAs1Ujc4gA6ABF8QFns5Mi4yNjYzNTcsIDE0NC40MDAxM33TNAs1Vjc4gBCA
		BF8QFns4Mi4yNjYzNTcsIDE0Mi40MDAxM33TNAs1Wjc4gBKABF8QFns3Mi4y
		NjYzNTcsIDE0Mi40MDAxM33TNAs1Xjc4gBSABF8QFns2NC4yNjYzNTcsIDE0
		MS40MDAxM33TNAs1Yjc4gBaABF8QFns1OS4yNjYzNTcsIDE0MS40MDAxM33T
		NAs1Zjc4gBiABF8QFns1My4yNjYzNTcsIDE0MS40MDAxM33TNAs1ajc4gBqA
		BF8QFns1MC4yNjYzNTcsIDE0MS40MDAxM33TNAs1bjc4gByABF8QFns0Ny4y
		NjYzNTcsIDE0MC40MDAxM33TNAs1cjc4gB6ABF8QFns0NS4yNjYzNTcsIDE0
		MC40MDAxM33TNAs1djc4gCCABF8QFns0My4yNjYzNTcsIDE0MC40MDAxM33T
		NAs1ejc4gCKABF8QFns0Mi4yNjYzNTcsIDE0MC40MDAxM33TNAs1fjc4gCSA
		BF8QFns0Mi4yNjYzNTcsIDEzOS40MDAxM33TNAs1gjc4gCaABF8QFns0MS4y
		NjYzNTcsIDEzOS40MDAxM33TNAs1hjc4gCiABF8QFns0MC4yNjYzNTcsIDEz
		OS40MDAxM33TNAs1ijc4gCqABF8QFnszNy4yNjYzNTcsIDEzNy40MDAxM33T
		NAs1jjc4gCyABF8QFnszNS4yNjYzNTcsIDEzNy40MDAxM33TNAs1kjc4gC6A
		BF8QFnszNC4yNjYzNTcsIDEzNi40MDAxM33TNAs1ljc4gDCABF8QFnszMy4y
		NjYzNTcsIDEzNi40MDAxM33TNAs1mjc4gDKABF8QFnszMi4yNjYzNTcsIDEz
		Ni40MDAxM33TNAs1njc4gDSABF8QFnszMi4yNjYzNTcsIDEzNS40MDAxM33T
		NAs1ojc4gDaABF8QFnszMC4yNjYzNTcsIDEzNS40MDAxM33TNAs1pjc4gDiA
		BF8QFnsyOS4yNjYzNTcsIDEzNS40MDAxM33TNAs1qjc4gDqABF8QFnsyOC4y
		NjYzNTcsIDEzNS40MDAxM33TNAs1rjc4gDyABF8QFnsyNi4yNjYzNTcsIDEz
		NS40MDAxM33TNAs1sjc4gD6ABF8QFnsyNS4yNjYzNTcsIDEzNS40MDAxM33T
		NAs1tjc4gECABF8QFnsyNS4yNjYzNTcsIDEzMy40MDAxM33TNAs1ujc4gEKA
		BF8QFnsyNC4yNjYzNTcsIDEzMy40MDAxM33TNAs1vjc4gESABF8QFnsyMy4y
		NjYzNTcsIDEzMy40MDAxM33TNAs1wjc4gEaABF8QFnsyMy4yNjYzNTcsIDEz
		Mi40MDAxM33TNAs1xjc4gEiABF8QFnsyMi4yNjYzNTcsIDEzMi40MDAxM33T
		NAs1yjc4gEqABF8QFnsyMS4yNjYzNTcsIDEzMi40MDAxM33SOzzO0aLP0FdO
		U0FycmF5WE5TT2JqZWN0V05TQXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZl
		cgAIABEAFgAfACgAMgA1ADoAPACLAJEAlgCdAKgAqgDRANMA1QDXANkA2wDd
		AN8A4QDjAOUA5wDpAOsA7QDvAPEA8wD1APcA+QD7AP0A/wEBAQMBBQEHAQkB
		CwENAQ8BEQETARUBFwEZASABLAE3ATkBOwE9AVYBWwFkAW8BcgF6AYMBiwGS
		AZQBlgGvAbYBuAG6AdMB2gHcAd4B9wH+AgACAgIbAiICJAImAj8CRgJIAkoC
		YwJqAmwCbgKHAo4CkAKSAqsCsgK0ArYCzwLWAtgC2gLzAvoC/AL+AxcDHgMg
		AyIDOwNCA0QDRgNfA2YDaANqA4MDigOMA44DpwOuA7ADsgPLA9ID1APWA+8D
		9gP4A/oEEwQaBBwEHgQ3BD4EQARCBFsEYgRkBGYEfwSGBIgEigSjBKoErASu
		BMcEzgTQBNIE6wTyBPQE9gUPBRYFGAUaBTMFOgU8BT4FVwVeBWAFYgV7BYIF
		hAWGBZ8FpgWoBaoFwwXKBcwFzgXnBe4F8AXyBgsGEgYUBhYGLwY2BjgGOgZT
		BloGXAZeBncGfAZ/BocGkAaYBp0AAAAAAAACAQAAAAAAAADUAAAAAAAAAAAA
		AAAAAAAGrw==
		</data>
		<key>startPosX</key>
		<real>146.266357421875</real>
		<key>startPosY</key>
		<real>148.40013122558594</real>
	</dict>
	<key>Key_19</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>348.73306274414062</real>
		<key>startPosY</key>
		<real>496.3330078125</real>
	</dict>
	<key>Key_2</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>323.99960327148438</real>
		<key>startPosY</key>
		<real>457.4005126953125</real>
	</dict>
	<key>Key_20</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUIUFFUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxAYCQoZHyAnKisuLzIzNjc6Oz4/QkNGR0pLVSRu
		dWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAF6oPEBESExQVFhcYgAKABYAH
		gAmAC4ANgA+AEYATgBXTGgsbHB0eW05TLnBvaW50dmFsWk5TLnNwZWNpYWyA
		A4AEEAFfEBd7LTMuNjY2Njg4OSwgNDE1LjM5OTk5fdIhIiMmWCRjbGFzc2Vz
		WiRjbGFzc25hbWWiJCVXTlNWYWx1ZVhOU09iamVjdFdOU1ZhbHVl0xoLGygd
		HoAGgARfEBd7MC4zMzMzMTEwOCwgNDE1LjM5OTk5fdMaCxssHR6ACIAEXxAW
		ezcuMzMzMzExMSwgNDEyLjM5OTk5fdMaCxswHR6ACoAEXxAWezE0LjMzMzMx
		MSwgNDA5LjM5OTk5fdMaCxs0HR6ADIAEXxAWezIwLjMzMzMxMSwgNDA2LjM5
		OTk5fdMaCxs4HR6ADoAEXxAWezI1LjMzMzMxMSwgNDA1LjM5OTk5fdMaCxs8
		HR6AEIAEXxAWezMwLjMzMzMxMSwgNDAyLjM5OTk5fdMaCxtAHR6AEoAEXxAW
		ezMyLjMzMzMxMywgNDAxLjM5OTk5fdMaCxtEHR6AFIAEXxAWezMzLjMzMzMx
		MywgNDAwLjM5OTk5fdMaCxtIHR6AFoAEXxAWezM1LjMzMzMxMywgNDAwLjM5
		OTk5fdIhIkxPok1OV05TQXJyYXlYTlNPYmplY3RXTlNBcnJheRIAAYagXxAP
		TlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AFcAXQBiAGkAdAB2
		AIEAgwCFAIcAiQCLAI0AjwCRAJMAlQCcAKgAswC1ALcAuQDTANgA4QDsAO8A
		9wEAAQgBDwERARMBLQE0ATYBOAFRAVgBWgFcAXUBfAF+AYABmQGgAaIBpAG9
		AcQBxgHIAeEB6AHqAewCBQIMAg4CEAIpAjACMgI0Ak0CUgJVAl0CZgJuAnMA
		AAAAAAACAQAAAAAAAABSAAAAAAAAAAAAAAAAAAAChQ==
		</data>
		<key>startPosX</key>
		<real>-4.6666889190673828</real>
		<key>startPosY</key>
		<real>415.39999389648438</real>
	</dict>
	<key>Key_21</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>262.00027465820312</real>
		<key>startPosY</key>
		<real>498.6663818359375</real>
	</dict>
	<key>Key_22</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>209.1331787109375</real>
		<key>startPosY</key>
		<real>394.66629028320312</real>
	</dict>
	<key>Key_3</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>219.66644287109375</real>
		<key>startPosY</key>
		<real>642.3995361328125</real>
	</dict>
	<key>Key_4</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAAEAAgADAAQABQAIAVkBWlQkdG9wWCRvYmplY3RzWCR2ZXJz
		aW9uWSRhcmNoaXZlctEABgAHVHJvb3SAAa8QggAJAAoATgBUAFUAXABfAGAA
		YwBkAGcAaABrAGwAbwBwAHMAdAB3AHgAewB8AH8AgACDAIQAhwCIAIsAjACP
		AJAAkwCUAJcAmACbAJwAnwCgAKMApACnAKgAqwCsAK8AsACzALQAtwC4ALsA
		vAC/AMAAwwDEAMcAyADLAMwAzwDQANMA1ADXANgA2wDcAN8A4ADjAOQA5wDo
		AOsA7ADvAPAA8wD0APcA+AD7APwA/wEAAQMBBAEHAQgBCwEMAQ8BEAETARQB
		FwEYARsBHAEfASABIwEkAScBKAErASwBLwEwATMBNAE3ATgBOwE8AT8BQAFD
		AUQBRwFIAUsBTAFPAVABUwFUVSRudWxs0gALAAwADQAOViRjbGFzc1pOUy5v
		YmplY3RzgIGvED8ADwAQABEAEgATABQAFQAWABcAGAAZABoAGwAcAB0AHgAf
		ACAAIQAiACMAJAAlACYAJwAoACkAKgArACwALQAuAC8AMAAxADIAMwA0ADUA
		NgA3ADgAOQA6ADsAPAA9AD4APwBAAEEAQgBDAEQARQBGAEcASABJAEoASwBM
		AE2AAoAFgAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4ApgCuA
		LYAvgDGAM4A1gDeAOYA7gD2AP4BBgEOARYBHgEmAS4BNgE+AUYBTgFWAV4BZ
		gFuAXYBfgGGAY4BlgGeAaYBrgG2Ab4BxgHOAdYB3gHmAe4B9gH/TAE8ACwBQ
		AFEAUgBTW05TLnBvaW50dmFsWk5TLnNwZWNpYWyAA4AEEAFfEBZ7OTIuNzk5
		NjgzLCAzNTkuMzk5NzV90gBWAFcAWABbWCRjbGFzc2VzWiRjbGFzc25hbWWi
		AFkAWldOU1ZhbHVlWE5TT2JqZWN0V05TVmFsdWXTAE8ACwBQAF0AUgBTgAaA
		BF8QFns5Mi43OTk2ODMsIDM2Ni4zOTk3NX3TAE8ACwBQAGEAUgBTgAiABF8Q
		Fns5Mi43OTk2ODMsIDM3MC4zOTk3NX3TAE8ACwBQAGUAUgBTgAqABF8QFns5
		Mi43OTk2ODMsIDM3OS4zOTk3NX3TAE8ACwBQAGkAUgBTgAyABF8QFns5MS43
		OTk2ODMsIDM4Ny4zOTk3NX3TAE8ACwBQAG0AUgBTgA6ABF8QFns5MS43OTk2
		ODMsIDM5Ny4zOTk3NX3TAE8ACwBQAHEAUgBTgBCABF8QFns4OS43OTk2ODMs
		IDQwNS4zOTk3NX3TAE8ACwBQAHUAUgBTgBKABF8QFns4OC43OTk2ODMsIDQx
		Mi4zOTk3NX3TAE8ACwBQAHkAUgBTgBSABF8QFns4OC43OTk2ODMsIDQyMC4z
		OTk3NX3TAE8ACwBQAH0AUgBTgBaABF8QFns4Ni43OTk2ODMsIDQzNC4zOTk3
		NX3TAE8ACwBQAIEAUgBTgBiABF8QFns4NC43OTk2ODMsIDQ0MS4zOTk3NX3T
		AE8ACwBQAIUAUgBTgBqABF8QFns4My43OTk2ODMsIDQ0Ni4zOTk3NX3TAE8A
		CwBQAIkAUgBTgByABF8QFns4My43OTk2ODMsIDQ1Mi4zOTk3NX3TAE8ACwBQ
		AI0AUgBTgB6ABF8QFns4My43OTk2ODMsIDQ1OC4zOTk3NX3TAE8ACwBQAJEA
		UgBTgCCABF8QFns4My43OTk2ODMsIDQ2Mi4zOTk3NX3TAE8ACwBQAJUAUgBT
		gCKABF8QFns4Mi43OTk2ODMsIDQ2Ny4zOTk3NX3TAE8ACwBQAJkAUgBTgCSA
		BF8QFns4Mi43OTk2ODMsIDQ3My4zOTk3NX3TAE8ACwBQAJ0AUgBTgCaABF8Q
		Fns4Mi43OTk2ODMsIDQ3OC4zOTk3NX3TAE8ACwBQAKEAUgBTgCiABF8QFns4
		MC43OTk2ODMsIDQ4My4zOTk3NX3TAE8ACwBQAKUAUgBTgCqABF8QFns4MC43
		OTk2ODMsIDQ4Ny4zOTk3NX3TAE8ACwBQAKkAUgBTgCyABF8QFns4MC43OTk2
		ODMsIDQ5MS4zOTk3NX3TAE8ACwBQAK0AUgBTgC6ABF8QFns4MC43OTk2ODMs
		IDQ5OS4zOTk3NX3TAE8ACwBQALEAUgBTgDCABF8QFns4MC43OTk2ODMsIDUw
		Mi4zOTk3NX3TAE8ACwBQALUAUgBTgDKABF8QFns4MC43OTk2ODMsIDUwNi4z
		OTk3NX3TAE8ACwBQALkAUgBTgDSABF8QFns4MC43OTk2ODMsIDUwOC4zOTk3
		NX3TAE8ACwBQAL0AUgBTgDaABF8QFns4MC43OTk2ODMsIDUxMS4zOTk3NX3T
		AE8ACwBQAMEAUgBTgDiABF8QFns4MC43OTk2ODMsIDUxNC4zOTk3OH3TAE8A
		CwBQAMUAUgBTgDqABF8QFns4MC43OTk2ODMsIDUxOC4zOTk3OH3TAE8ACwBQ
		AMkAUgBTgDyABF8QFns4Mi43OTk2ODMsIDUyMi4zOTk3OH3TAE8ACwBQAM0A
		UgBTgD6ABF8QFns4NS43OTk2ODMsIDUyNy4zOTk3OH3TAE8ACwBQANEAUgBT
		gECABF8QFns4OC43OTk2ODMsIDUzMi4zOTk3OH3TAE8ACwBQANUAUgBTgEKA
		BF8QFns5MC43OTk2ODMsIDUzNi4zOTk3OH3TAE8ACwBQANkAUgBTgESABF8Q
		Fns5My43OTk2ODMsIDU0MC4zOTk3OH3TAE8ACwBQAN0AUgBTgEaABF8QFns5
		Ny43OTk2ODMsIDU0NC4zOTk3OH3TAE8ACwBQAOEAUgBTgEiABF8QFnsxMDAu
		Nzk5NjgsIDU0OC4zOTk3OH3TAE8ACwBQAOUAUgBTgEqABF8QFnsxMDMuNzk5
		NjgsIDU1MS4zOTk3OH3TAE8ACwBQAOkAUgBTgEyABF8QFnsxMDYuNzk5Njgs
		IDU1NC4zOTk3OH3TAE8ACwBQAO0AUgBTgE6ABF8QFnsxMDguNzk5NjgsIDU1
		Ny4zOTk3OH3TAE8ACwBQAPEAUgBTgFCABF8QFnsxMTAuNzk5NjgsIDU1OS4z
		OTk3OH3TAE8ACwBQAPUAUgBTgFKABF8QFnsxMTQuNzk5NjgsIDU2NS4zOTk3
		OH3TAE8ACwBQAPkAUgBTgFSABF8QFnsxMTguNzk5NjgsIDU2OS4zOTk3OH3T
		AE8ACwBQAP0AUgBTgFaABF8QFnsxMjIuNzk5NjgsIDU3MC4zOTk3OH3TAE8A
		CwBQAQEAUgBTgFiABF8QFnsxMjYuNzk5NjgsIDU3NC4zOTk3OH3TAE8ACwBQ
		AQUAUgBTgFqABF8QFnsxMzAuNzk5NjgsIDU3Ny4zOTk3OH3TAE8ACwBQAQkA
		UgBTgFyABF8QFnsxMzcuNzk5NjgsIDU4MS4zOTk3OH3TAE8ACwBQAQ0AUgBT
		gF6ABF8QFnsxNDAuNzk5NjgsIDU4NC4zOTk3OH3TAE8ACwBQAREAUgBTgGCA
		BF8QFnsxNDQuNzk5NjgsIDU4Ni4zOTk3OH3TAE8ACwBQARUAUgBTgGKABF8Q
		FnsxNDYuNzk5NjgsIDU4OS4zOTk3OH3TAE8ACwBQARkAUgBTgGSABF8QFnsx
		NDkuNzk5NjgsIDU5MC4zOTk3OH3TAE8ACwBQAR0AUgBTgGaABF8QFnsxNTMu
		Nzk5NjgsIDU5MS4zOTk3OH3TAE8ACwBQASEAUgBTgGiABF8QFnsxNTYuNzk5
		NjgsIDU5NC4zOTk3OH3TAE8ACwBQASUAUgBTgGqABF8QFnsxNTkuNzk5Njgs
		IDU5Ni4zOTk3OH3TAE8ACwBQASkAUgBTgGyABF8QFnsxNjIuNzk5NjgsIDU5
		Ny4zOTk3OH3TAE8ACwBQAS0AUgBTgG6ABF8QFnsxNjMuNzk5NjgsIDU5Ny4z
		OTk3OH3TAE8ACwBQATEAUgBTgHCABF8QFnsxNjcuNzk5NjgsIDU5OS4zOTk3
		OH3TAE8ACwBQATUAUgBTgHKABF8QFnsxNjkuNzk5NjgsIDYwMC4zOTk3OH3T
		AE8ACwBQATkAUgBTgHSABF8QFnsxNzEuNzk5NjgsIDYwMi4zOTk3OH3TAE8A
		CwBQAT0AUgBTgHaABF8QFnsxNzMuNzk5NjgsIDYwMy4zOTk3OH3TAE8ACwBQ
		AUEAUgBTgHiABF8QFnsxNzQuNzk5NjgsIDYwMy4zOTk3OH3TAE8ACwBQAUUA
		UgBTgHqABF8QFnsxNzYuNzk5NjgsIDYwNC4zOTk3OH3TAE8ACwBQAUkAUgBT
		gHyABF8QFnsxNzcuNzk5NjgsIDYwNC4zOTk3OH3TAE8ACwBQAU0AUgBTgH6A
		BF8QFnsxNzcuNzk5NjgsIDYwNS4zOTk3OH3TAE8ACwBQAVEAUgBTgICABF8Q
		FnsxNzguNzk5NjgsIDYwNS4zOTk3OH3SAFYAVwFVAViiAVYBV1dOU0FycmF5
		WE5TT2JqZWN0V05TQXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABkA
		HgAnADAAOgA/AEQARgFNAVMBXAFjAW4BcAHxAfMB9QH3AfkB+wH9Af8CAQID
		AgUCBwIJAgsCDQIPAhECEwIVAhcCGQIbAh0CHwIhAiMCJQInAikCKwItAi8C
		MQIzAjUCNwI5AjsCPQI/AkECQwJFAkcCSQJLAk0CTwJRAlMCVQJXAlkCWwJd
		Al8CYQJjAmUCZwJpAmsCbQJvAnwCiAKTApUClwKZArICuwLEAs8C1ALcAuUC
		7QL6AvwC/gMXAyQDJgMoA0EDTgNQA1IDawN4A3oDfAOVA6IDpAOmA78DzAPO
		A9AD6QP2A/gD+gQTBCAEIgQkBD0ESgRMBE4EZwR0BHYEeASRBJ4EoASiBLsE
		yATKBMwE5QTyBPQE9gUPBRwFHgUgBTkFRgVIBUoFYwVwBXIFdAWNBZoFnAWe
		BbcFxAXGBcgF4QXuBfAF8gYLBhgGGgYcBjUGQgZEBkYGXwZsBm4GcAaJBpYG
		mAaaBrMGwAbCBsQG3QbqBuwG7gcHBxQHFgcYBzEHPgdAB0IHWwdoB2oHbAeF
		B5IHlAeWB68HvAe+B8AH2QfmB+gH6ggDCBAIEggUCC0IOgg8CD4IVwhkCGYI
		aAiBCI4IkAiSCKsIuAi6CLwI1QjiCOQI5gj/CQwJDgkQCSkJNgk4CToJUwlg
		CWIJZAl9CYoJjAmOCacJtAm2CbgJ0QneCeAJ4gn7CggKCgoMCiUKMgo0CjYK
		TwpcCl4KYAp5CoYKiAqKCqMKsAqyCrQKzQraCtwK3gr3CwQLBgsICyELLgsw
		CzILSwtYC1oLXAt1C4ILhAuGC58LrAuuC7ALyQvWC9gL2gvzDAAMAgwEDB0M
		KgwsDC4MRwxUDFYMWAxxDH4MgAyCDJsMqAyqDKwMxQzSDNQM1gzvDPwM/g0A
		DRkNIg0nDS8NOA1ADUUAAAAAAAACAgAAAAAAAAFbAAAAAAAAAAAAAAAAAAAN
		Vw==
		</data>
		<key>startPosX</key>
		<real>92.7996826171875</real>
		<key>startPosY</key>
		<real>358.39974975585938</real>
	</dict>
	<key>Key_5</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>128.06637573242188</real>
		<key>startPosY</key>
		<real>503.4002685546875</real>
	</dict>
	<key>Key_6</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>148.2001953125</real>
		<key>startPosY</key>
		<real>459.40045166015625</real>
	</dict>
	<key>Key_7</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>217.33349609375</real>
		<key>startPosY</key>
		<real>499.399658203125</real>
	</dict>
	<key>Key_8</key>
	<dict>
		<key>fileName</key>
		<string>X.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>path</key>
		<data>
		YnBsaXN0MDDUAQIDBAUIpaZUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJj
		aGl2ZXLRBgdUcm9vdIABrxA6CQoqMDE4Ozw/QENER0hLTE9QU1RXWFtcX2Bj
		ZGdoa2xvcHN0d3h7fH+Ag4SHiIuMj5CTlJeYm5yfoFUkbnVsbNILDA0OViRj
		bGFzc1pOUy5vYmplY3RzgDmvEBsPEBESExQVFhcYGRobHB0eHyAhIiMkJSYn
		KCmAAoAFgAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AIYAjgCWAJ4ApgCuA
		LYAvgDGAM4A1gDfTKwssLS4vW05TLnBvaW50dmFsWk5TLnNwZWNpYWyAA4AE
		EAFfEBR7Mjg2LjI2NywgMzgyLjMzMjk4fdIyMzQ3WCRjbGFzc2VzWiRjbGFz
		c25hbWWiNTZXTlNWYWx1ZVhOU09iamVjdFdOU1ZhbHVl0ysLLDkuL4AGgARf
		EBR7Mjg3LjI2NywgMzgyLjMzMjk4fdMrCyw9Li+ACIAEXxAUezI5MC4yNjcs
		IDM4Mi4zMzI5OH3TKwssQS4vgAqABF8QFHsyOTEuMjY3LCAzODIuMzMyOTh9
		0ysLLEUuL4AMgARfEBR7Mjk0LjI2NywgMzgyLjMzMjk4fdMrCyxJLi+ADoAE
		XxAUezI5Ny4yNjcsIDM4MS4zMzI5OH3TKwssTS4vgBCABF8QFHsyOTkuMjY3
		LCAzODEuMzMyOTh90ysLLFEuL4ASgARfEBR7MzAyLjI2NywgMzgwLjMzMjk4
		fdMrCyxVLi+AFIAEXxAUezMwNS4yNjcsIDM3OC4zMzI5OH3TKwssWS4vgBaA
		BF8QFHszMDkuMjY3LCAzNzYuMzMyOTh90ysLLF0uL4AYgARfEBR7MzEyLjI2
		NywgMzc1LjMzMjk4fdMrCyxhLi+AGoAEXxAUezMxNi4yNjcsIDM3NC4zMzI5
		OH3TKwssZS4vgByABF8QFHszMTkuMjY3LCAzNzIuMzMyOTh90ysLLGkuL4Ae
		gARfEBR7MzIzLjI2NywgMzcxLjMzMjk4fdMrCyxtLi+AIIAEXxAUezMyNy4y
		NjcsIDM3MC4zMzI5OH3TKwsscS4vgCKABF8QFHszMzAuMjY3LCAzNjguMzMy
		OTh90ysLLHUuL4AkgARfEBR7MzMyLjI2NywgMzY4LjMzMjk4fdMrCyx5Li+A
		JoAEXxAUezMzNS4yNjcsIDM2Ny4zMzI5OH3TKwssfS4vgCiABF8QFHszMzYu
		MjY3LCAzNjYuMzMyOTh90ysLLIEuL4AqgARfEBR7MzM5LjI2NywgMzY0LjMz
		Mjk4fdMrCyyFLi+ALIAEXxAUezM0MC4yNjcsIDM2NC4zMzI5OH3TKwssiS4v
		gC6ABF8QFHszNDIuMjY3LCAzNjQuMzMyOTh90ysLLI0uL4AwgARfEBR7MzQy
		LjI2NywgMzYzLjMzMjk4fdMrCyyRLi+AMoAEXxAUezM0NC4yNjcsIDM2My4z
		MzI5OH3TKwsslS4vgDSABF8QFHszNDUuMjY3LCAzNjMuMzMyOTh90ysLLJku
		L4A2gARfEBR7MzQ2LjI2NywgMzYyLjMzMjk4fdMrCyydLi+AOIAEXxAUezM0
		Ny4yNjcsIDM2Mi4zMzI5OH3SMjOhpKKio1dOU0FycmF5WE5TT2JqZWN0V05T
		QXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoA
		PAB5AH8AhACLAJYAmAC2ALgAugC8AL4AwADCAMQAxgDIAMoAzADOANAA0gDU
		ANYA2ADaANwA3gDgAOIA5ADmAOgA6gDsAPMA/wEKAQwBDgEQAScBLAE1AUAB
		QwFLAVQBXAFjAWUBZwF+AYUBhwGJAaABpwGpAasBwgHJAcsBzQHkAesB7QHv
		AgYCDQIPAhECKAIvAjECMwJKAlECUwJVAmwCcwJ1AncCjgKVApcCmQKwArcC
		uQK7AtIC2QLbAt0C9AL7Av0C/wMWAx0DHwMhAzgDPwNBA0MDWgNhA2MDZQN8
		A4MDhQOHA54DpQOnA6kDwAPHA8kDywPiA+kD6wPtBAQECwQNBA8EJgQtBC8E
		MQRIBE8EUQRTBGoEcQRzBHUEjASTBJUElwSuBLUEtwS5BNAE1QTYBOAE6QTx
		BPYAAAAAAAACAQAAAAAAAACnAAAAAAAAAAAAAAAAAAAFCA==
		</data>
		<key>startPosX</key>
		<real>284.26699829101562</real>
		<key>startPosY</key>
		<real>382.33297729492188</real>
	</dict>
	<key>Key_9</key>
	<dict>
		<key>fileName</key>
		<string>Circle.png</string>
		<key>name</key>
		<string>final</string>
		<key>offsetX</key>
		<real>0.0</real>
		<key>offsetY</key>
		<real>0.0</real>
		<key>startPosX</key>
		<real>6</real>
		<key>startPosY</key>
		<real>499.99969482421875</real>
	</dict>
</dict>
</plist>
