<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Repz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA012F471D5FC1F000ADBF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA012F5E1D5FC1F000ADBF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA012F691D5FC1F000ADBF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
